body {
    font-family: 'Roboto Mono', monospace;
    color: #212121;
}
a {
  color: #0d47a1;
}

/* Header */
.header {
  text-align: center;
  margin-top: 60px;
}

/* Navigation And Footer*/
#navbar, #footer {
   float:left;
   width:100%;
   overflow:hidden;
   position:relative;
   margin-top: 30px;
}
#navbar ul, #footer ul {
   clear:left;
   float:left;
   list-style:none;
   margin: 0;
   padding: 0;
   position:relative;
   left:50%;
   text-align:center;
}
#navbar ul li, #footer ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding-left: 10px;
   padding-right: 10px;
   position:relative;
   right:50%;
   font-size: 16px;
}
#footer {
  margin-top: 100px;
}
/* About Section */
.projects {
  margin-top: 70px;
}
.projects h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}
.projects p {
  font-size: 15px;
  margin-top: 30px;
}
